<!DOCTYPE html>
<html lang="fr">
    <head>
        {% if title: %}
        <title>{{ title }} - Microblog</title>
        {% else: %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
        <header>
            <h1>Microblog :</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Sign in</a></li>
                </ul>
            </nav>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages: %}
                <ul>
                    {% for message in messages: %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
